In [40]:
import pandas as pd

In [41]:
df = pd.read_excel('casa.xlsx', engine='openpyxl')

## Exploración General

In [42]:
df.head()

,Comuna,Link,Tipo_Vivienda,N_Habitaciones,N_Baños,N_Estacionamientos,Total_Superficie_M2,Superficie_Construida_M2,Valor_UF,Valor_CLP,Dirección,Quién_Vende,Corredor
0,Calera de Tango,https://chilepropiedades.cl/ver-publicacion/ve...,Casa,5.0,6.0,3,5000.0,440,12200.0,351360000,"Calera de Tango, Queilen",Gabriela Mellado V.,Zenpro Propiedades
1,Calera de Tango,https://chilepropiedades.cl/ver-publicacion/ve...,Casa,6.0,6.0,6,5000.0,430,13000.0,374400000,"Calera de Tango, Queilen",Gabriela Mellado V.,Zenpro Propiedades
2,Calera de Tango,https://chilepropiedades.cl/ver-publicacion/ve...,Casa,3.0,3.0,No,2027.0,140,10300.0,296640000,"Calera de Tango, Avenida calera de tango con...",Alonso Baeza Rivera y Cía. Ltda. (Kennedy),Alonso Baeza Rivera y Cía. Ltda. (Kennedy)
3,Calera de Tango,https://chilepropiedades.cl/ver-publicacion/ve...,Casa,8.0,6.0,No,5000.0,480,21500.0,619200000,"Calera de Tango, Paradero 14 1/2/5 kilometros ...",RED Gestión Propiedades,Red Gestión Propiedades
4,Calera de Tango,https://chilepropiedades.cl/ver-publicacion/ve...,Casa,3.0,2.0,3,5000.0,196,9100.0,262080000,"Calera de Tango, Condominio El Trébol de Caler...",Gabriela Mellado V.,Zenpro Propiedades

In [43]:
df.info()  # Nombre de las columnas y tipos de datos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1139 entries, 0 to 1138
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Comuna                    1139 non-null   object
 1   Link                      1139 non-null   object
 2   Tipo_Vivienda             1139 non-null   object
 3   N_Habitaciones            1131 non-null   float64
 4   N_Baños                   1118 non-null   float64
 5   N_Estacionamientos        1067 non-null   object
 6   Total_Superficie_M2       1102 non-null   float64
 7   Superficie_Construida_M2  1103 non-null   object
 8   Valor_UF                  1139 non-null   float64
 9   Valor_CLP                 1139 non-null   int64
 10  Dirección                 1102 non-null   object
 11  Quién_Vende               1139 non-null   object
 12  Corredor                  1139 non-null   object
dtypes: float64(4), int64(1), object(8)
memory usage: 80.1+ KB

In [44]:
df.shape   # Para saber el número de filas y columnas

(1139, 13)

In [45]:
df.describe()  # Para saber estadísticas generales del DataFrame

,N_Habitaciones,N_Baños,Total_Superficie_M2,Valor_UF,Valor_CLP
count,1131.000000,1118.000000,1102.000000,1139.000000,1.139000e+03
mean,4.109637,2.652952,866.097541,10218.017252,2.942870e+08
std,1.602654,1.394241,1845.360199,9652.728522,2.779984e+08
min,1.000000,1.000000,0.000000,1215.193389,3.500000e+07
25%,3.000000,2.000000,180.000000,3541.420735,1.020000e+08
50%,4.000000,2.000000,293.000000,6700.000000,1.929600e+08
75%,5.000000,3.000000,563.750000,13510.000000,3.890880e+08
max,19.000000,12.000000,30000.000000,70828.414693,2.040000e+09

In [46]:
df.values  # arroja los datos en forma de matriz de numpy

array([['Calera de Tango',
        'https://chilepropiedades.cl/ver-publicacion/venta-usada/calera-de-tango/casa/queilen/3000455',
        'Casa', ..., 'Calera de Tango, Queilen', 'Gabriela Mellado V.',
        'Zenpro Propiedades'],
       ['Calera de Tango',
        'https://chilepropiedades.cl/ver-publicacion/venta-usada/calera-de-tango/casa/queilen/2246315',
        'Casa', ..., 'Calera de Tango, Queilen', 'Gabriela Mellado V.',
        'Zenpro Propiedades'],
       ['Calera de Tango',
        'https://chilepropiedades.cl/ver-publicacion/venta-usada/calera-de-tango/casa/avenida-calera-de-tango-condominiosanta-teresa-de-tango-el-barrancon/3429380',
        'Casa', ...,
        'Calera de Tango, Avenida calera de tango   condominio/santa teresa de tango - el barrancon',
        'Alonso Baeza Rivera y Cía. Ltda. (Kennedy)',
        'Alonso Baeza Rivera y Cía. Ltda. (Kennedy)'],
       ...,
       ['Vitacura',
        'https://chilepropiedades.cl/ver-publicacion/venta-usada/vitacura/casa/vitacurafilomena-comas/964270',
        'Casa', ..., 'Vitacura, Vitacura/Filomena Comas',
        'RED Gestión Propiedades', 'Red Gestión Propiedades'],
       ['Vitacura',
        'https://chilepropiedades.cl/ver-publicacion/venta-usada/vitacura/casa/lo-arcayaav-vitacura/3108211',
        'Casa', ..., 'Vitacura, Lo Arcaya/Av. Vitacura',
        'RED Gestión Propiedades', 'Red Gestión Propiedades'],
       ['Vitacura',
        'https://chilepropiedades.cl/ver-publicacion/venta-usada/vitacura/casa/candelaria-goyenechea-luis-carreracolegio-la-maisonette/3026501',
        'Casa', ...,
        'Vitacura, Candelaria Goyenechea -Luis Carrera-Colegio La Maisonette',
        'Cata Brochet Propiedades', 'Cata Brochet Propiedades']],
      dtype=object)

In [47]:
df.columns  # Arroja los títulos de las columnas

Index(['Comuna', 'Link', 'Tipo_Vivienda', 'N_Habitaciones', 'N_Baños',
       'N_Estacionamientos', 'Total_Superficie_M2', 'Superficie_Construida_M2',
       'Valor_UF', 'Valor_CLP', 'Dirección', 'Quién_Vende', 'Corredor'],
      dtype='object')

In [48]:
df.index  # contiene los números de filas o los nombres de estas

RangeIndex(start=0, stop=1139, step=1)

## Limpieza de datos

In [49]:
df.drop(columns=['Link', 'Tipo_Vivienda'], inplace=True)  # Borra la columna link y tipo vivienda
# Inplace=True sirve para que reemplaze los cambios en el df original

## Analísis Casas Sector Norte Santiago
### Comunas: Conchalí, Huechuraba, Independencia, Recoleta y Quilicura

In [50]:
casas_conchali = df.iloc[78:98]

In [51]:
casas_huechuraba = df.loc[133:159]
casas_independencia = df.loc[160:182]
casas_recoleta = df.loc[903:927]
casas_quilicura = df.loc[842:891]

## Extracción de la Información:
### Número de habitaciones, superficie y valor en cada comuna del Sector Norte

In [52]:
casas_independencia.iloc[:,[0, 1, 5, 7]]  # extrae las habitaciones, superficie y valor

            Comuna  N_Habitaciones Superficie_Construida_M2  Valor_CLP
160  Independencia             4.0                      125  115000000
161  Independencia             4.0                      220  226080000
162  Independencia             5.0                      170   58000000
163  Independencia             3.0                       90   80000000
164  Independencia             4.0                      NaN  129990000
165  Independencia             8.0                        0  220000000
166  Independencia             3.0                      102  149000000
167  Independencia             4.0                      100   80000000
168  Independencia             4.0                      120   75000000
169  Independencia             8.0                      174  230112000
170  Independencia             6.0                      180  117000000
171  Independencia             4.0                      126  150000000
172  Independencia             2.0                       70   35000000
173  Independencia             6.0                      180  198000000
174  Independencia             4.0                      160   93024000
175  Independencia             3.0                      123  122000000
176  Independencia             2.0                       66   65000000
177  Independencia             3.0                       70   58000000
178  Independencia             4.0                      120  257616000
179  Independencia             3.0                       68  150000000
180  Independencia             9.0                      231  406742400
181  Independencia             2.0                       70   65000000
182  Independencia             4.0                      134  170784000

In [63]:
casas_huechuraba.iloc[:,[0, 1, 5, 7]]  # extrae las habitaciones, superficie y valor

         Comuna  N_Habitaciones Superficie_Construida_M2  Valor_CLP
133  Huechuraba             3.0                       90   72288000
134  Huechuraba             3.0                       84  141120000
135  Huechuraba             5.0                      131  216000000
136  Huechuraba             6.0                      138  129600000
137  Huechuraba             5.0                      200  313920000
138  Huechuraba             2.0                       65   66000000
139  Huechuraba             4.0                      160  171360000
140  Huechuraba             3.0                      300  691200000
141  Huechuraba             5.0                      171  310000000
142  Huechuraba             5.0                      140  277920000
143  Huechuraba             4.0                      128  167990400
144  Huechuraba             3.0                      121  159000000
145  Huechuraba             4.0                      140  188640000
146  Huechuraba             3.0                       78   91900000
147  Huechuraba             4.0                      123  215136000
148  Huechuraba             4.0                      180  328320000
149  Huechuraba             3.0                       66   85334400
150  Huechuraba             4.0                      270  190080000
151  Huechuraba             4.0                      167  101664000
152  Huechuraba             2.0                       90   92000000
153  Huechuraba             4.0                      240  345600000
154  Huechuraba             5.0                      165  280000000
155  Huechuraba             3.0                      110  210240000
156  Huechuraba             3.0                      140  192960000
157  Huechuraba             4.0                      108  180000000
158  Huechuraba             3.0                       85  146592000
159  Huechuraba             3.0                      122  161280000

In [64]:
casas_conchali.iloc[:,[0, 1, 5, 7]]  # extrae las habitaciones, superficie y valor

      Comuna  N_Habitaciones Superficie_Construida_M2  Valor_CLP
78  Conchalí             4.0                      120   72000000
79  Conchalí             4.0                      114  115000000
80  Conchalí             5.0                      171  165000000
81  Conchalí             6.0                      140  140000000
82  Conchalí             3.0                       76   98000000
83  Conchalí             3.0                      103  120000000
84  Conchalí             3.0                      122   90000000
85  Conchalí             3.0                      160  215000000
86  Conchalí             3.0                      160  105000000
87  Conchalí             4.0                      123  145000000
88  Conchalí             2.0                       96   75000000
89  Conchalí             3.0                       66  150000000
90  Conchalí             3.0                       77   71000000
91  Conchalí             3.0                      120   95000000
92  Conchalí             4.0                   134.95  130000000
93  Conchalí             4.0                      135  130000000
94  Conchalí             3.0                    131.6  140000000
95  Conchalí             3.0                      189   93000000
96  Conchalí             5.0                      171  160000000
97  Conchalí             2.0                       60   67000000

In [55]:
# zona_norte = df[df['Comuna'] == ['Independencia'] # otra forma de extraer las comunas
# Agrupar información sobre las casas de la zona norte
zona_norte = df[df['Comuna'].isin(['Conchalí', 'Independencia', 'Huechuraba', 'Quilicura', 'Recoleta'])]

### Ordenar desde las casas mas caras a las más baratas del sector Norte

In [56]:
zona_norte = zona_norte.sort_values('Valor_CLP', ascending=False)
# Mostrar las Casas mas caras del sector Norte
casas_caras = zona_norte[['Comuna', 'Valor_CLP']] 
casas_caras.head(10)

            Comuna  Valor_CLP
140     Huechuraba  691200000
903       Recoleta  450000000
911       Recoleta  425000000
921       Recoleta  415000000
180  Independencia  406742400
909       Recoleta  371520000
914       Recoleta  354240000
153     Huechuraba  345600000
923       Recoleta  334080000
148     Huechuraba  328320000

### Casas con terrenos más grandes del sector norte

In [57]:
cantidad_terreno = zona_norte[['Comuna', 'Total_Superficie_M2']]
cantidad_terreno = cantidad_terreno.sort_values('Total_Superficie_M2', ascending=False)
cantidad_terreno.head(10)

         Comuna  Total_Superficie_M2
140  Huechuraba               4000.0
911    Recoleta                760.0
921    Recoleta                760.0
914    Recoleta                558.0
154  Huechuraba                550.0
137  Huechuraba                500.0
153  Huechuraba                480.0
909    Recoleta                465.0
148  Huechuraba                430.0
141  Huechuraba                430.0

### Casas más grandes por comuna

In [58]:
casas_grandes = zona_norte[['Comuna', 'Superficie_Construida_M2']]
casas_grandes = casas_grandes.sort_values('Superficie_Construida_M2', ascending=False)
casas_grandes.head(10)

            Comuna Superficie_Construida_M2
920       Recoleta                      361
918       Recoleta                      348
919       Recoleta                      324
927       Recoleta                      324
140     Huechuraba                      300
150     Huechuraba                      270
909       Recoleta                      260
153     Huechuraba                      240
877      Quilicura                      240
180  Independencia                      231

# Valor promedio casas Santiago Norte

In [59]:
valor_promedio_casas_cpl = zona_norte['Valor_CLP'].mean()
valor_promedio_casas_cpl = valor_promedio_casas_cpl.round(1)
print('El valor promedio de las casas del sector Norte de Santiago es', valor_promedio_casas_cpl, ' pesos chilenos')
## Valor Promedio U.F 
valor_promedio_casas_uf = zona_norte['Valor_UF'].mean()
valor_promedio_casas_uf = valor_promedio_casas_uf.round(1)
print('El valor promedio de las casas del sector Norte de Santiago es', valor_promedio_casas_uf, ' U.F')
## La Casa más cara es
casa_cara = zona_norte['Valor_CLP'].max()
print('La casa con mayor precio del Sector Norte de Santiago cuesta ', casa_cara, ' de pesos chilenos')
## La Casa más barata es
casa_barata = zona_norte['Valor_CLP'].min()
print('La casa con menor precio del Sector Norte de Santiago cuesta ', casa_barata, ' de pesos chilenos')

El valor promedio de las casas del sector Norte de Santiago es 144655679.5  pesos chilenos
El valor promedio de las casas del sector Norte de Santiago es 5022.6  U.F
La casa con mayor precio del Sector Norte de Santiago cuesta  691200000  de pesos chilenos
La casa con menor precio del Sector Norte de Santiago cuesta  35000000  de pesos chilenos

# Valor promedio casas Santiago Norte desagregado por comuna

In [60]:
valor_promedio_comunas = zona_norte.pivot_table(values='Valor_CLP', index='Comuna')
valor_promedio_comunas = valor_promedio_comunas.round(1)
print(valor_promedio_comunas)

                 Valor_CLP
Comuna
Conchalí       128685714.3
Huechuraba     204672029.6
Independencia  141362973.9
Quilicura       93071024.0
Recoleta       199451392.0

### Corredoras de Propiedades comunes en el Sector Norte

In [61]:
corredoras_comunes = zona_norte.drop_duplicates(subset=['Corredor', 'Comuna'])
corredoras_comunes = corredoras_comunes['Corredor'].value_counts(sort=True)
print(corredoras_comunes)

Vende Dueño/a                                  5
Mauricio Pino Propiedades                      4
Corredorpro Spa                                4
Jaime Moris Propiedades (Providencia)          4
Evaristo Lillo                                 4
Armacima Propiedades                           3
Propiedades Centro Santiago SPA                3
Alianza Pro Gestión Inmobiliaria               3
Inmobienes.                                    2
Vivaqui Propiedades                            2
Invierte Propiedades                           2
Jorge Pablo Caro Propiedades                   2
Behouse                                        2
Corretajes Prosal                              2
Ferrada&vial Spa                               2
Red Gestión Propiedades                        2
Aleida Lama Propiedades                        2
Mundo propiedades Chile                        2
Vip Gestion Inmobiliaria                       1
Home Solutions                                 1
Propiedades Ricardo Vial y Cia. Ltda.          1
Cf Propiedades S.P.A                           1
Pro Partners Propiedades                       1
Procasa Felipe Acosta Propiedades Peñalolén    1
Corredores Asociados                           1
Hestia Marketing Inmobiliario                  1
Difusion Propiedades                           1
castillapropiedades                            1
Psp Propiedades                                1
N Publicidad y Asesorias SpA                   1
Navacasa Propiedades                           1
Piren Propiedades                              1
Sucasa Gestión Inmobiliaria                    1
MLC Propiedades                                1
Schumacher Propiedades                         1
Guillermo Bravo Zarate                         1
Toro Guzmán Propiedades                        1
Alessandro Matteucci Cajas                     1
Montt Propiedades ltda                         1
G A M P. Propiedades                           1
Cf Propiedades                                 1
Cata Brochet Propiedades                       1
Sgq Propiedades                                1
Ricardo Propiedades                            1
Santa Lucia Propiedades                        1
Casas en Chile                                 1
Name: Corredor, dtype: int64

# Resumen, Características Casas Zona Norte

In [62]:
caracteristicas_casas = zona_norte.pivot_table(values=['Total_Superficie_M2', 'N_Habitaciones', 'N_Baños', 'N_Estacionamientos'], index='Comuna', margins=True)
caracteristicas_casas = caracteristicas_casas.round(1)
print(caracteristicas_casas)

               N_Baños  N_Habitaciones  Total_Superficie_M2
Comuna
Conchalí           1.8             3.4                187.5
Huechuraba         2.7             3.7                387.4
Independencia      1.8             4.3                168.7
Quilicura          1.9             3.3                132.8
Recoleta           2.0             4.2                284.3
All                2.1             3.7                229.4